<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title text-muted">
      <%= post.user.email %>
      <small>- <%= time_ago_in_words post.created_at %> ago</small>
    </h5>
    <div class="card-text lead mb-2"><%= post.body %></div>
      <% emojies = ["ðŸ˜€", "ðŸ˜­", "ðŸ‘", "ðŸ‘Ž"] %>
      <% emojies.each do |emoji| %>
        <%= link_to "#", data: {reflex: "click->Posts#react", id: post.id, emoji: emoji} do %>
          <%= emoji %> (<%= tag.span post.reactions.where(emoji: emoji).size, id: "post-#{post.id}-#{emoji}" %>)
        <% end %>
      <% end %>
  </div>
</div>
